@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2f2f2f;
  --deep-maroon: #7b1113;
  --elegant-gold: #c6a971;
  --dark-charcoal: #2f2f2f;
  --light-grey: #eaeaea;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
}

body {
  font-family: var(--font-inter), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}
